### Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

 ### Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [1]:
# import important libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import csv

In [2]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r = requests.get(url)

In [3]:
soup = bs(r.text, 'html.parser')
table  = soup.find('table', class_="table")
body = table.find('tbody')

tr = body.find_all('tr')
row = []

# looping through the tr tag to extract the data
for i in tr:
  row_data = i.find_all('td')
  l = []
  for j in row_data:
    p = j.text.strip().split('\n')
    
    l.append(p)

  row.append(l)

### scraping data from the rows

In [4]:
list = []
for i in row:
  #print(i)
  pos = i[0][0]
  team = i[1][0]
  matches = i[2][0]
  point = i[3][0]
  rating = i[4][0]
  
  #---------------------------------------Saving the data into list of dictionary--------------------------------
  d = {
      'POS' : pos,
       'TEAM' : team,
       'MATCHES' : matches,
       'POINTS' : point,
       'RATING' : rating
       }
  list.append(d)

### Making data frame

In [5]:
df = pd.DataFrame(list)
df
df.drop(index=df.index[10:])

  POS          TEAM MATCHES POINTS RATING
0   1     Australia      18  3,061    170
1   2  South Africa      26  3,098    119
2   3       England      25  2,904    116
3   4         India      27  2,820    104
4   5   New Zealand      24  2,425    101
5   6   West Indies      24  2,334     97
6   7    Bangladesh      12    932     78
7   8      Pakistan      21  1,237     59
8   9       Ireland      11    516     47
9  10     Sri Lanka       8    353     44



### Top 10 women’s ODI Batting players along with the records of their team and rating.

In [8]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

###  Scrapaing the data of first ranking person

In [9]:
# Creating the list for saving the scraped data

pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

### Scarping data for other place player

In [10]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

### Making Data frame

In [11]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ ODI_Batting_Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [12]:
df
df.drop(index=df.index[10:])

,POS,PLAYER,TEAM,RATING,CAREER BEST RATING
0,\n\n\n 1\n ...,Alyssa Healy,AUS,785,"785 v England, 03/04/2022"
1,2,Beth Mooney,AUS,749,"748 v England, 03/04/2022"
2,3,Laura Wolvaardt,SA,732,"741 v Australia, 22/03/2022"
3,4,Natalie Sciver,ENG,725,"755 v South Africa, 15/07/2022"
4,5,Harmanpreet Kaur,IND,716,"731 v England, 21/09/2022"
5,6,Smriti Mandhana,IND,714,"797 v England, 28/02/2019"
6,7,Meg Lanning,AUS,710,"834 v New Zealand, 24/02/2016"
7,8,Rachael Haynes,AUS,701,"713 v West Indies, 15/03/2022"
8,9,Amy Satterthwaite,NZ,661,"756 v Australia, 02/03/2017"
9,10,Chamari Athapaththu,SL,655,"691 v South Africa, 14/02/2019"




###  Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:


url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

### scraping the data for first ranking player

In [14]:

# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

# Scrpaing career_best_rating
career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

### scraping data after first player

In [15]:

container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

  # Scraping the career_best_rating
  career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
  career_best_rating_list.append(career_best_rating)

### Making Data Frame

In [17]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})

# replacing the unnecessary data with ''
df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

# Saving the dataframe
df.to_csv('Icc_ODI All-Rounder Rankings.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)
df

df.drop(index=df.index[10:])

,POS,PLAYER,TEAM,RATING,CAREER BEST RATING
0,\n\n\n 1\n ...,Hayley Matthews,WI,380,"380 v New Zealand, 25/09/2022"
1,2,Ellyse Perry,AUS,374,"548 v West Indies, 11/09/2019"
2,3,Natalie Sciver,ENG,357,"395 v South Africa, 11/07/2022"
3,4,Amelia Kerr,NZ,356,"356 v West Indies, 25/09/2022"
4,5,Marizanne Kapp,SA,349,"419 v West Indies, 10/09/2021"
5,6,Deepti Sharma,IND,322,"397 v South Africa, 09/10/2019"
6,7,Ashleigh Gardner,AUS,270,"279 v West Indies, 30/03/2022"
7,8,Jess Jonassen,AUS,246,"308 v West Indies, 11/09/2019"
8,9,Jhulan Goswami,IND,214,"308 v Australia, 02/02/2016"
9,10,Katherine Brunt,ENG,207,"296 v Australia, 03/02/2022"